# /etc/systemd/system/0x0.service
[Unit]
Description=null pointer
After=network.target

[Service]
Type=simple
User=0x0
Group=0x0
WorkingDirectory=/srv/0x0/
ExecStart=/usr/bin/uwsgi_python3 --socket 127.0.0.1:3031 --wsgi-file fhost.py --callable app --processes 4 --threads 2 --master
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
